{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p>Если вы любите винил, то вы оказались в нужном месте! Вся дискография легендарных рок-групп и любимых
        исполнителей в первозданном виде. В нашем магазине вы найдёте только лучшее и настоящее!</p>
</div>
<p align="center">
    <img src="/static/img/ozzy_osbourne.jpg">
    <img src="/static/img/1111.jpg">
    <img src="/static/img/mm.jpg">
</p>
{% endblock %}