{% extends "base.html" %}

{% block content %}

<form id="search" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(class="form-control") }}<br>
        {% for error in form.author.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.country.label }}<br>
        {{ form.country(class="form-control") }}<br>
        {% for error in form.country.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", value="Найти") }}</p>
</form>
<div id="administrator_email">E-mail администратора сайта: {{ email }}</div>
<br><br>
{% for cloth in cloths %}
<div id="Item">
    <a class="buttons" href="/view{{ item.get_url() }}">
        <div id="title_of_item">{{ item.title }}<br></div>
        <img id="main_page_img" src="{{ item.get_images(False) }}"><br>
        Цена: <font style="color: #159a15;font: normal 20px arial;">{{ cloth.price }} р.</font><br>
        Страна: {{ item.country_id }}<br>
        {% if current_user.account_type == 'Администратор' %}
        <a class="btn btn-primary " href="{{ item.get_url() }}">Редактировать</a>
        <a class="btn btn-primary " href="/delete{{ item.get_url() }}">Удалить</a>
        <br><br>
        {% endif %}
    </a>
</div>
{% endfor %}
<br><br>
<center>
    {% if page_number %}
    <a class="btn btn-primary " href="/?page={{ page_number - 1 }}">Предыдущая страница</a>
    {% endif %}
    {% if page_number + 1 != max_page_number %}
    <a class="btn btn-primary " href="/?page={{ page_number + 1 }}">Следующая страница</a>
    {% endif %}
</center>
{% endblock %}