{% extends "base.html" %}
{% block content %}
<h1 align="center">Профиль</h1>
<h2 align="center">{{ current_user.name }}</h2>
{% if current_user.account_type == 'Администратор' %}
<div>
    <p><a class="btn btn-primary" href='/add_item'>Добавить товар</a></p>
    <p><a class="btn btn-primary" href='/favourites'>Избранное</a></p>
    <p><a class="btn btn-primary" href='/order'>Ваш заказ</a></p>
    <p><a class="btn btn-primary" href='/user_orders'>Заказы пользователей</a></p>
    <p><a class="btn btn-danger" href="/logout">Выйти</a></p>
    <p><a class="btn btn-warning" href='/'>На главную</a></p>
</div>
{% else %}
<div>
    <p>Заказы</p>
    <p><a class="btn btn-primary" href="/favourites">Избранное</a></p>
    <p><a class="btn btn-danger" href="/logout">Выйти</a></p>
    <p><a class="btn btn-warning" href='/'>На главную</a></p>
</div>
{% endif %}
{% endblock %}