{% extends "base.html" %}
{% block content %}
<h1 align="center">Ваш заказ</h1><br>
<a class="btn btn-primary" href='/user_profile'>Назад</a><br>
<form action="" method="post" novalidate style="margin-left: 50px;" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for cloth_index in length %}
    <p>
        {{ cloths[cloth_index].title }}<br>
        <a class="buttons" href="/view{{ items[item_index].get_url() }}">
            <img src="{{ items[item_index].get_images(False) }}" alt="">
        </a>
        <br>
        {{ items[item_index].title }}<br>
        Цена за 1 штуку: {{ items[item_index].price }} р.<br>
        {{ form.count_list[item_index].label }}<br>
        {{ form.count_list[item_index](class="form-control") }}<br>
        Сумма: {{ items[item_index].price * form.count_list[item_index].data }}<br>
        {% for error in form.count_list[cloth_index].errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
    <a class="btn btn-primary " href="/order/delete{{ items[item_index].get_url() }}">
        Удалить из заказа
    </a><br>
    </p>
    {% endfor %}
    {% if count %}
    Сумма заказа: <font style="color: #159a15;font: normal 20px arial;">{{ summ }}</font><br>
    {% endif %}
    {% if length %}
    <p>
    <input class="btn btn-primary" formaction="/order?count=True" formmethod="post" type="submit"
           value="Рассчитать сумму заказа">
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", title="Перейти к оформлению заказа",
        formaction="/order?confirm=True") }}</p>
    {% else %}
    <h3>В вашем заказе нет товаров</h3>
    {% endif %}
</form>
{% endblock %}

