{% extends "base.html" %}
{% block content %}
<h1 align="center">Заказы пользователей</h1><br>
<a class="btn btn-primary" href='/user_profile'>Назад</a><br>
{% for order in orders %}
<div id="Order">
<h2>Заказ №{{ order.id }}</h2>
    {% if order.is_finished %}
    <font style="color: #ff0000;">Завершён</font><br>
    {% endif %}
    Данные пользователя:<br>
    Фамилия - {{ user_data[order.id].surname }}<br>
    Имя - {{ user_data[order.id].name }}<br>
    e-mail - {{ user_data[order.id].email }}<br>
    Номер телефона - {{ user_data[order.id].phone_number }}<br>
    Почтовый индекс - {{ user_data[order.id].postal_code }}<br>
    Адрес - {{ user_data[order.id].address }}<br>
    <br>
    Данные заказа:<br>
    {% for item in order.items_id.split(";") %}
    {% if not loop.last %}
    Id товара: {{ item.split("/")[0] }}<br>
    Количество: {{ item.split("/")[1] }}<br>
    Цена за 1 штуку: {{ item.split("/")[2] }}<br>
    Сумма заказа: {{ item.split("/")[3] }}<br>
    <br>
    {% else %}
    Сумма заказа: {{ item }}
    {% endif %}
    {% endfor %}
    {% if not order.is_finished %}
    <a class="btn btn-primary" href="/order_finish/{{ order.id }}">Отметить заказ как завершённый</a>
    {% endif %}
</div>

{% endfor %}
{% endblock %}